*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color:#777;
    line-height:1.7;
    padding: 3rem;
    line-height: 1.7;
}