.container{
    max-width:114rem;
    margin: 0 auto;
}
 .row{
      &,
        &::after,
        &::before{
            @include clearfix;

        }
    }
        div[class^='col']{
            float:left;
            padding: 0 1.5rem;
        }
        .col12{
            width:100%;
        }
        .col9{
            width:75%;
        }
        .col6{
            width:50%;
        }
        .col4{
            width:calc(100% / 3);
        }
        .col3{
            width:25%;
           
        }
        .col2{
            width: calc(100% / 6);
        }
        

