.section-feature{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)),url(../images/nat-4.jpg);
        background-size: cover;
    background-position: center;
    transform: skewY(-7deg);
    margin-top:-10rem;
    >*{
        transform:skewY(7deg) ;
    }
    }
    .feature-box{
        padding: 0 2rem;
        background-color:rgba($color-white,0.8);
        font-size: 1.5rem;
        padding:2.5rem;
        text-align: center;
        border-radius:0.3rem;
        box-shadow: 0 1.5rem 4rem rgba($color-dark,0.15);
        transition: all 0.2s ease-in-out;
        &-icon{
            font-size:6rem;
            margin-bottom: 0.5rem;
            display:inline-block;
            background-image:linear-gradient(to right,$color-primary-light,$color-primary-dark);
            -webkit-background-clip: text;
            background-clip:text;
            color:transparent;
        }
        &:hover{
            transform: translateY(-1.5rem)scale(1.05);
        }
    }